<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Merriweather:400,700&display=swap" rel="stylesheet">{% if title %}
    <!-- <link href="{{ url_for('static', filename='search.css') }}" type="text/css" rel="stylesheet">
    <title> Restaurants Spotter- {{ title }} </title>
    {% else %}
    <link href="{{  url_for('static', filename='home.css')}}" type="text/css" rel="stylesheet">
    
    {% endif %} -->
   
    {% block header %}
    <title>order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/rating.css') }}">
</head>
<body>
    <navbar class="nav" id="ns" >
        <a class="btn btn-outline-dark" href="" role="button" style="margin:0.5em 1em 1em 1em; height:fit-content; border-color: white;font-size:2em;">FOODZEE</a>
    </navbar>
    <form action="">
    <div style="margin:10em 0 0 5em;">
        <label for="loc" style="color:#F3F0D7; font-size:24px; margin:3em 0 1em 23em;">Ordering in</label>
        <input type="text" id="loc" name ="locality" value={{location}} placeholder={{location}} style="background-color:white; width:10em;opacity:50%; font-size:24px;color:black; border-radius:25px; padding-left: 0.5em;margin-right: 4cm;" readonly >
        {% for resorder in res_order %}
        <h2 style="color: white; font-size:50px; margin-left:5em;"> Click the below link to complete your order :)</h2>
        <button type="submit" style=" opacity:0.5 ; border-radius:10px; height:3em ;width:10em;margin-top:1em;margin-left:40em;background-color:whitesmoke;">
        <a href="https://www.zomato.com/{{location}}/{{links}}" style="font-size:24px ;" >CLICK HERE!</a></button></form>
    </div>
    {% endfor %}
    <h1 style="color: white; align-items: center;justify-content:center; margin:1em 0 0 15em;">YOU MAY ALSO LIKE:</h1>
    <div class="container restaurant-container" style="margin-top:1em;" >
        <ul class="list-unstyled">
     
            {% if restaurants_like | length > 0 %} {% for resrlike in restaurants_like %}
            <form action="{{ url_for('order') }}" method="POST">
            <li class="media mt-2 res-card" >
                <img src="{{ resrlike['url'] }}" width="250px" height="200px" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0" style="font-family:'Roboto', sans-serif;font-weight:500;font-size:24px;">{{ resrlike['name'] }}</h5>
                    <p>Rating: <span class="badge badge-success d-inline">{{ resrlike['aggregate_rating'] }}</span></p>
                    <div class="res-content">
                        <p class="text-muted">{{ resrlike['address'] }}</p>
                        <p><span class="timing">Timing: {{ resrlike['timings'] }}</span></p>
                        <p><span class="feature">Highlight: {{ resrlike['feature'] }} </span></p>
                        <!-- <a href=””><input type=”button” ></a>  -->
                    </div>
                </div>
            </form>
            </li>
          
            {% endfor %} {% else %}
            <li class="mt-2">
                <div class="text-center align-middle" style="color: white;">
                    <h5>Sorry, No Result Found. :(</h5>
                    <p>Try again</p>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
    <footer>
      <hr style="display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #FFF2F2;
      margin: 2.5em 0;
      padding: 0;">

        <div id="footer-content">
            <div id="footer-text" style="color:white;margin-left: 6cm ;">Developed by Anusha Ajay Bamzai</div>
            <div class="footer-link">
                <a href="https://github.com/anushabamzai"><img src="../static/git.png" alt="" srcset="" style="height: 25px;width:25px; margin:0.5em 0.2em 0 0.5em"></a>
                <a href="https://www.linkedin.com/in/anusha-bamzai-15b868214"><img src="../static/linkedin.png" alt="" srcset="" style="height: 25px;width:25px; margin:0.5em 0.5em 0 0em"></a>
            </div>

    </footer>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>