<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Merriweather:400,700&display=swap" rel="stylesheet"> {% if title %}
    <!-- <link href="{{ url_for('static', filename='search.css')}}" type="text/css" rel="stylesheet">
 
    {% else %}
    <link href="{{  url_for('static', filename='home.css')}}" type="text/css" rel="stylesheet">
   
    {% endif %} -->
    {% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/search.css') }}">
</head>

<body >
    <navbar class="nav" id="ns" >
        <a class="btn btn-outline-dark" href="./index.html" role="button" style="margin:0.5em 1em 1em 1em; height:fit-content; border-color: white;font-size:2em;">FOODZEE</a>
     
        <form action="{{ url_for('res') }}" method="post">
            <div style="display:flex;flex-direction:row; margin:1em 0em 0 40em;">
            <div class="search-box" style="display:flex;flex-direction:row;">
                    <button class="btn-search" ><i class="fas fa-search" width="20px" height="20px"></i></button>
                    <input type="text"  name ="input-search" class="input-search" placeholder="Type Restaurant name to Search..." style="margin-left:1em ;">
                  </div>
                  <div>
                    <input type="text" id="loc" name ="locality" value={{location}} placeholder={{location}} style="background-color:white; width:10em;opacity:50%; font-size:24px;color:black; border-radius:25px;margin-left:4em; padding-left: 0.5em;" readonly >
                </div> 
            </div>
        </form>
       
      </navbar>
    <div class="container" >
        <form action="{{ url_for('rating') }}" method="POST">
        <div style="display:flex; flex-direction:row">
            <label for="loc" style="color:#F3F0D7; font-size:24px; margin:0em  0 0 13em;">Showing results in</label>
            <input type="text" id="loc" name ="locality" value={{location}} placeholder={{location}} style="background-color:white; width:10em;opacity:50%; font-size:24px;color:black; border-radius:25px; padding-left: 0.5em;" readonly >

        </div>
    </div style="display:flex;flex-direction:row;">
    <div class="row">
        <div>
            <div class="form-group">
                <input type="number" class="form-control" min="1" id="people" name="people" value="1" style="margin: 4em 2em 0 12em ;width: 15em;height:5em;" required>
                
            </div>
            <p style="font-size:15px ;color:white;margin-left:16em;">Number of guests </p>
        </div>
        <div >
            <div class="form-group">
                
                <input type="number" class="form-control" name="min_Price" value="0" style="margin:4em 2em 1em ;width: 15em;height:5em; " required>
                <p style="font-size:15px ;color:white;margin-left:2em;">Enter your minimum budget here</p>
            </div>
        </div>
        <div >
            <div >
                
                <input type="number" class="form-control" name="max_Price" value="10000"style="margin:4em 2em 1em ; width:15em; height: 5em; " required >
                <p style="font-size:15px ;color:white;margin-left:2em;;">Enter your maximum budget here</p>
            </div>
        </div>
      
        <div >
                        
         <select class="custom-select" id="cuisine" name="cuisine" value="North Indian" style="margin:4em 0em 1em  1em ; width: 20em; height: 5em;" multiple>
            <option value="North Indian" selected>North Indian</option>
            <option value="Mughlai" >Mughlai</option>
            <option value="Chinese" >Chinese</option>
            <option value="Rajasthani">Rajasthani</option>
            <option value="Eurpoean">Eurpoean</option>
            <option value="Continental">Continental</option>
            <option value="Gujarati" >Gujarati</option>
            <option value="South Indian">South Indian</option>
            <option value="Fast Food" >Fast Food</option>
            <option value="Desserts">Desserts</option>
            <option value="Cafe" >Cafe</option>
            <option value="Italian">Italian</option>
            <option value="Mexican">Mexican</option>
            <option value="Pizza">Pizza</option>
            <option value="American">American</option>
            <option value="Salad">Salad</option>
            <option value="Biryani" >Biryani</option>
            <option value="Kashmiri" >Kashmiri</option>
            <option value="Beverages">Beverages</option>
            <option value="Ice Cream" >Ice Cream</option>
            <option value="Sandwhich">Sandwhich</option>
            <option value="Parsi">Parsi</option>
          </select>
          <p style="font-size:15px ;color:white;margin-left:4em;">Select one or more cuisines</p> 
                </div>
                
            </div>
                    <div >
                        <div class="form-group">
                                <select class="custom-select" id="rating" name="rating"placeholder="Rating" style="margin:1.5em 2em 0 37em ; width: 30em; ">
                                    <option value="none">Do you want to sort restaurants on basis of ratings?</option>                
                                    <option value="yes">YES</option>
                                    <option value="no">NO</option>
                                   
                                </select>
                            </div>
                        </div>
                    </div> 
                      
            <div class="row text-center">
                <div class="col-12" style="margin-top: 2em;">
                    <button class="submit-button" width="20px;" height="2px;"><img src="https://freeiconshop.com/wp-content/uploads/edd/filter-flat.png" width="25px" height="25px"  class="mr-2"  >Apply Filters</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container restaurant-container" >
        <ul class="list-unstyled">
            {% if restaurants | length > 0 %} {% for res in restaurants %}
           <form  action="{{ url_for('order') }}" method="POST">
            <li class="media mt-2 res-card" >
                <img src="{{ res['url'] }}" width="250px" height="200px" class="mr-3" alt="...">
                <div class="media-body">
                    <textarea name="resname" id="" cols="20" rows="1" style="background-color:#C9CCD5; opacity: 0.7; border: 0; font-size:24px;" readonly>{{ res['name'] }}</textarea>
                    <p>Rating: <span class="badge badge-success d-inline" style="margin-top:0.3em;">{{ res['aggregate_rating'] }}</span></p>
                    <div class="res-content">
                        <input type="text" id="loc" name ="locality" value={{location}} placeholder={{location}} 
                        style="background-color:#C9CCD5;height:2em; width:8em;opacity:30%;margin-bottom :0.5em;font-size:24px;color:black;border: 0ch; border-radius:10px; padding-left: 0.5em;" readonly >
                        <textarea name="address" id="20" cols="30" rows="1" style="background-color:#C9CCD5; opacity: 0.7; border: 0;" readonly>{{ res['address'] }}</textarea> 
                        <p><span class="timing">Timing: {{ res['timings'] }}</span></p>
                        <p><span class="feature"  style="margin-top:0.5em;">Highlight: {{ res['feature'] }} </span></p>
                        <button class="more-info"  style="margin-top:0.5em;">Order Now</button>
                    </div>
                    
                </div>
            </li>
           </form>
            {% endfor %} {% else %}
            <li class="mt-2">
                <div class="text-center align-middle" style="color: white;">
                    <h5>Sorry, No Result Found. :(</h5>
                    <p>Try again</p>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
    <footer>
        <hr style="color:gray;">

        <div id="footer-content">
            <div id="footer-text" style="color:white;margin-left: 6cm ;">Developed by Anusha Ajay Bamzai</div>
            <div class="footer-link">
                <a href="https://github.com/anushabamzai"><img src="../static/git.png" alt="" srcset="" style="height: 25px;width:25px; margin:1.5em 0.2em 0 0.5em"></a>
                <a href="https://www.linkedin.com/in/anusha-bamzai-15b868214"><img src="../static/linkedin.png" alt="" srcset="" style="height: 25px;width:25px; margin:1.5em 0.5em 0 0em"></a>
            </div>

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>